@font-face {
    font-family: Natyl;
    src: url('natyl.demo.ttf');
}
@font-face {
    font-family: Agraham;
    src: url('Agraham.otf');
}

@font-face {
    font-family: Vinque;
    src: url('vinque\ rg.otf');
}

body {
    padding: 0;
    margin: 0;
}

body > div {
    padding: 0;
    margin: 0;
}

#content {
    display: grid;
    grid-template: 2fr 1.5fr 14fr / 1fr;
    height: 100vh;
    background-color: black;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url(BackgroundO.png);
}

.banner {
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.banner > h1 {
    font-family: Agraham;
    font-size: 2rem;
    letter-spacing: 5px;
    margin: 0;
    margin-top: -1rem;
}

.banner > p {
    margin-top: -1.5rem;
    font-family: Vinque;
    font-size: 1rem;
}

.banner > p:last-child {
    margin:0;
    margin-top: -0.75rem;
    font-size: 0.75rem;
}

.nav {
    width: 60vw;
    margin: 1.25vh 20vw;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-auto-flow: column;
    color:white;
    font-weight: bold;
}

.nav > p {
    border: 1px solid transparent;
    cursor:pointer;
    justify-self:center;
}

.nav > p:last-of-type {
    border: 1px solid white;
    justify-self: center;
    padding: 2px 8px;
}

.currentNav {
    border-bottom: 1px solid white !important;
}

.main {
    margin: 0 15vw
}

.menusHeader {
    text-align: center;
    color: white;
    font-weight:400;
}

.menusDiv {
    display: flex;
    justify-content: center;
}

.menusButton {
    font-weight: 400;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 1rem;
    border: white solid 1px;
    padding: 6px;
    margin: 10px;
    cursor: pointer;
}

.selectedMenuButton, .menusButton:hover {
    background-color: white;
    color: rgb(29, 4, 4);
}

.menusContent > div {
    color: white;
    text-align:center;
    letter-spacing: -0.5px;
}

.menusContent > div > h1{
    margin: 15px auto;
    margin-bottom: 7.5px;
}

.menusContent > div > p{
    margin:0 auto;
    margin-bottom: 30px;
    max-width: 75ch;
}