@font-face {
    font-family: Natyl;
    src: url('natyl.demo.ttf');
}
@font-face {
    font-family: Agraham;
    src: url('Agraham.otf');
}

@font-face {
    font-family: Vinque;
    src: url('vinque\ rg.otf');
}

*::selection {
    color:black;
    background-color: white;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    /* background-image: radial-gradient(circle, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url(BackgroundO.png); */
    /* background-color: rgb(36, 3, 3); */
}

body > div {
    padding: 0;
    margin: 0;
}

#content {
    display: grid;
    grid-template: 2fr 1.5fr 14fr / 1fr;
    height: 100vh;
}

.banner {
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
    user-select: none;
    cursor:text;
    
}

.banner > h1 {
    font-family: Agraham;
    font-size: 2rem;
    letter-spacing: 5px;
    margin: 0;
    margin-top: -1rem;
}

.banner > p {
    margin-top: -1.5rem;
    font-family: Vinque;
    font-size: 1rem;
}

.banner > p:last-child {
    margin:0;
    margin-top: -0.75rem;
    font-size: 0.75rem;
}

.nav {
    /* width: 60vw; */
    width: clamp(200px,60vw,800px);
    margin: 1.25vh auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-auto-flow: column;
    color:white;
    font-weight: bold;
}

.nav > p {
    border: 1px solid transparent;
    cursor:pointer;
    justify-self:center;
    user-select: none;
}

.nav > p:last-of-type {
    border: 1px solid white;
    justify-self: center;
    padding: 2px 8px;
}

.currentNav {
    border-bottom: 1px solid white !important;
}

#reservations.currentNav, #reservations:hover {
    color:black;
    transition: background-color 2s, color 2s;
    background-color: white;
}

.main {
    margin: 0 15vw;
    margin: 0 0;
    max-width: 100vw;
    position: relative;
    /* background-color: black; */
    /* background: linear-gradient(0deg, rgba(129,10,10,1) 0%, rgba(64,5,5,1) 100%); */
background-color: rgb(25, 25, 25);
}

.menusHeader {
    text-align: center;
    color: white;
    font-weight:400;
}

.menusDiv {
    display: flex;
    justify-content: center;
}

.menusButton {
    font-weight: 400;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 1rem;
    border: white solid 1px;
    padding: 6px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}

.selectedMenuButton, .menusButton:hover {
    background-color: white;
    color: rgb(29, 4, 4);
}

.menusContent > div {
    color: white;
    text-align:center;
    letter-spacing: -0.5px;
}

.menusContent > div > h1{
    margin: 15px auto;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 7.5px;
    max-width: 40ch;
    text-align:center;
}

.menusContent > div > p{
    margin:0 auto;
    margin-bottom: 30px;
    max-width: 75ch;
    text-align:center;

}

.about {
}
.aboutImage {
/* position:absolute; */
height: 80vh;
width: 100vw;
background: url(https://elitetraveler.com/wp-content/uploads/sites/8/2017/10/Hotel-Eden-La-Terrazza-scaled-e1600071873644.jpg);
background-size: cover;
/* margin-left: -15vw; */
background-position: 25% 25%;
}

.aboutHeading {
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    letter-spacing: 4px;
    font-size: 2rem;
}

.aboutText {
    font-weight: 400;
    color: white;
    text-align: center;
    max-width: 70ch;
    margin: 1.5rem auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

.aboutTeam {
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    letter-spacing: 4px;
    font-size: 1.75rem;
}

.teamContainer {
    display: flex;
    justify-content: center;
    max-width: 75vw;
    margin: 0 auto;
    flex-wrap:wrap;
    gap: 4rem;
}

.teammateCard {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.teammateCard > * {
    margin: 0.15rem 0;
    text-align: center;
    color: white;
}

.teammateCard h2 {
    font-weight: 400;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    font-size: 1.5rem;
}

.teammateCard p {
    font-weight: 400;
    color: white;
    text-align: center;
    max-width: 70ch;
    line-height: 1.5;
    letter-spacing: 1px;

}

.teammateImage {
    height: 300px;
    width: 250px;
    justify-self: center;
    align-self: center;
    background-position: 35% 25%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;

}

.teammateImage:hover {
    background-size: 125% 125%;
    transition: background-size 2s;
    cursor: pointer;
}

.noDouble {
    pointer-events: none;
}

.dialogue {
    height: 0vh;
    width: 0vw;
    /* transition: width 2s, height 2s; */
    position: fixed;
    z-index: 2;
    transform-origin:center;
    animation: expand 1s forwards;
    background-color: rgba(255, 217, 0, 0.75);
    display:flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    overflow:auto;
    user-select: none;
}

.dialogue > h1 {
    font-weight: 400;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    font-size: 3rem;
    margin: 0.5rem;
    animation: scaleAnimation 1s forwards;
    user-select: none;
    cursor: text;

}

.dialogue > h2 {
    font-weight: 400;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    font-size: 2rem;
    margin: 0;
    animation: scaleAnimation 1s forwards;
    cursor: text;
}


.teammateDescription {
    color:black;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: clamp(0px,75ch,80vw);
    white-space: pre-wrap;  
    animation: scaleAnimation 1s forwards;
    cursor: text;

}

@keyframes expand {
    to {
      height: 100vh;
      width: 100vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  
      }}  

.closeButton {
    font-size: 3rem;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right:20px;
    z-index: 3;
    cursor: pointer;
    color: white;
}

.closeButton:hover {
    color: rgb(209, 209, 209);
    transition: color 2s;
}

.bodyDuringDialogue {
    overflow: hidden;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0)
    }
    60% {
        transform:scale(0.6)
    }
    100% {
        transform: scale(1);
    }
}

.reviewsContainer {
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.reviewDiv {
    align-self:center;
    justify-self: center;
    padding: 5px 10px;
    text-align: center;
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template: 1fr 1fr /120px calc(100% - 120px);
    grid-auto-flow: column;
    justify-content: center;
    border: solid white 2px;
    margin: 1rem 0 0 0;
    width: clamp(200px,80%,300px);
    grid-template-areas:
    "img name"
    "img text"
    "img stars";
    height: 120px;
    overflow-y: auto;

}

.reviewDiv > h2 {
    grid-area: name;
    margin: 0;
    color: white;
    grid-column: 2 / 4 ;

}

.reviewImage {
    grid-area: img;
    border-radius: 50%;
    width: 100px;
    height:100px;
    object-fit: cover;
    margin: 0px;
    margin-left: 0.5rem;

}

.reviewText {
    grid-area: text;
    text-align: center;
    color:white;
    margin:0px;
    justify-self: center;
    word-break:normal;
    max-width: 55ch;
    grid-column: 2 / 4 ;
}


.stars {
    grid-area: stars;
    font-size: 1rem;
    color:gold;
    margin: 0;
    grid-column: 2 / 4 ;
}

@keyframes reservationsColor{
    0% {
        background-color: black;
    }
    100% {
        background-color: silver;
    }
}

.reservationsContainer {
    height: 100%;
    width: 100%;
    background-color: black;
    animation: reservationsColor 1s forwards;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formField {
    padding:1rem;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: clamp(200px,60vw,800px);
    margin: auto;
}

.formField > * {
    margin: 2.5px;
}

.formField > input, .formField > select {
    height: 3rem;
}